
---
// Importa los módulos necesarios
import PostCard from '../components/PostCard.astro';
import type{Post} from '../types/Post';
//import global from '../public/global.css';
// src/pages/index.astro

// Obtiene los posts del API
const res = await fetch('https://jsonplaceholder.typicode.com/posts');
const posts = await res.json();
---

<html>
<head>
  <title>Mi Blog en Astro</title>
</head>
<body>
  <div class="container">
    <h1>
      <center style="color: pink ">Bienvenido a mi Blog</center>
    </h1>
    <div>
      {posts.map((post: Post) => (
        <PostCard key={post.id} post={post} />
      ))}
    </div>
  </div>
<style>
  
</style>
</body>
</html>

